<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DeFi Site</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    <li><a href="{{ url_for('main.about') }}">About</a></li>
                    <li>
                        <a href="{{ url_for('main.defi_basics') }}"
                            >DeFi Basics</a
                        >
                    </li>
                    <li>
                        <a href="{{ url_for('main.avalanche') }}">Avalanche</a>
                    </li>
                    <li><a href="{{ url_for('main.mantle') }}">Mantle</a></li>
                    <li>
                        <a href="{{ url_for('main.crypto_friendly_places') }}"
                            >Crypto-Friendly Places</a
                        >
                    </li>
                    <li><a href="{{ url_for('main.blog') }}">Blog</a></li>
                </ul>
            </nav>
        </header>

        <main>{% block content %}{% endblock %}</main>

        <footer>
            <p>&copy; 2024 DeFi Site. All rights reserved.</p>
        </footer>

        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
